<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ruta}}./css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ruta}}./css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ruta}}./css/main.css">

    <script src="{{ruta}}./js/jquery-3.2.1.min.js" defer></script>
    <script src="{{ruta}}./js/popper.min.js" defer></script>
    <script src="{{ruta}}./js/bootstrap.min.js" defer></script>
    <script src="{{ruta}}./js/main.js" defer></script>
    {{#block "head"}}{{/block}}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Metryx</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="metrics-navitem">
                    <a class="nav-link" href="/cuentas">Cuentas</a>
                </li>
                <li class="nav-item dropdown" id="indicators-navitem">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Indicadores</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/indicadores">Crear</a>
                        <a class="dropdown-item" href="/indicadores/aplicar">Evaluar</a>
                    </div>
                </li>
                <li class="nav-item dropdown" id="methodologies-navitem">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Metodologías</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="/methodologies">Evaluar</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                {{#if usuario}}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar sesión</a>
                </li>
                {{else}}
                <li class="nav-item" id="login-navitem">
                    <a class="nav-link" href="/login">Iniciar sesión</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>