{{#partial "head"}}<script src="./js/cuentas.js" defer></script>{{/partial}}

{{#partial "body"}}
<!--<div class="jumbotron">-->
    <div class="container">
        <select class="form-control" id="combo-empresas">
            <option value="0">Seleccione una empresa...</option>
            {{#each empresas}}
                <option value="{{nombre}}">{{nombre}}</option>
            {{/each}}
        </select>
        <select class="form-control" id="combo-periodos">
            <option value="0">Seleccione un período...</option>
            {{#each periodos}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>

        <table id="cuentas" class="table table-responsive header-fixed">
            <thead>
                <tr>
                    <th class="col-md-3">Empresa</th>
                    <th class="col-md-3">Cuenta</th>
                    <th class="col-md-3">Período</th>
                    <th class="col-md-3">Valor</th>
                </tr>
            </thead>
            <tbody>
                {{#each empresas}}
                    {{#each cuentas}}
                <tr>
                    <td class="col-md-3">{{companyName}}</td>
                    <td class="col-md-3">{{name}}</td>
                    <td class="col-md-3">{{period}}</td>
                    <td class="col-md-3">{{value}}</td>
                </tr>
                    {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
<!--</div>-->
{{/partial}}

{{> layout.hbs }}